<div>
  <button mat-raised-button (click)="productClick()" style="margin-left: 70%;">Home</button>
  <button mat-raised-button (click)="cartClick()" style="margin-left: 5%;">Cart</button>
  <button mat-button [matMenuTriggerFor]="menu" style="margin-left:4%; border-radius: 100%;">
    <img [src]="imgurl" width="50px" height="40px">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>My Profile</button>
    <button mat-menu-item>My Orders</button><hr>
    <button mat-menu-item>Contact</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </mat-menu>
</div>

<div class="row">
  <div class="column" *ngFor="let item of items">
      <mat-card>
          <mat-card-content>
              <img src={{item.Image}} alt="image" style="width: 100px; height: 100px; float: left; margin-left:10%"><br>
              <div style="float: right; margin-right: 15%;">
              <p>{{ item.Name }}</p>
              <p>{{ item.Desc }}</p>
              <p>{{ item.Price }}</p></div>
              <div style="margin-top:40%"></div>
              <button mat-raised-button (click)="removeClick(item.id)">Remove</button>
              <button mat-raised-button color="primary" (click)="buyNow()" style="margin-left:30px">Buy Now</button>
          </mat-card-content>
      </mat-card><br><br>
  </div>
</div>

<p style="text-align: center;margin-top: 10%;font-size: 40px;">{{message}}</p>
<div class="footer">
      <p style="text-align: center; background-color: brown;width: 100%;margin: 0%; height: 40px; padding-top: 10px;color: white; font-size: 20px;font-family: cursive;">@Copyright 2023   -   Designed by Swaroop using Angular</p>
</div>